* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #be9d72, #eacda3);
  height: 100vh;
}
html {
    background: linear-gradient(90deg, #e47bf1, #e0c574, #cfc4ec);
    color: white
    ;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 10px rgb(73, 73, 73);
}

nav .logo {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(90deg, #59add4, #c952ab);
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    padding: 0.3rem 1rem;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 4px 6px;
}

nav ul li a:hover{
    color: #5f86b8;
}

/* ====   layout ===== */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 1rem auto;
    text-align: center;
}

.fa-left-long {
    color: black;
    text-align: left !important;
}

.projects-wrap {
    margin: 1rem auto;
}

.projects-wrap ul li a {
    font-size: 1.4rem;
    color: rgb(77, 77, 77);
} 

.projects-wrap ul li {
    margin-bottom: 0.5rem;
}
.card {
  background: rgb(122, 108, 108);
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.items {
  font-weight: bold;
  color: #4f46e5;
}

.reset {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  background: #ef4444;
  color: rgb(245, 245, 245);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.reset:hover {
  background: #dc2626;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e2e2e2;
  padding: 10px;
  border-radius: 10px;
}

.count {
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 5px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.buttons button:nth-child(1) {
  background: #22c55e;
  color: white;
}

.buttons button:nth-child(2) {
  background: #f59e0b;
  color: white;
}

.delete {
  background: #ef4444;
  color: white;
}
